*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.hero{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 145, 0);
    background-image: url(https://scontent.fceb1-1.fna.fbcdn.net/v/t1.15752-9/297222141_747621456322819_3062891686469536536_n.png?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=HoyYGtuah5EAX8uA1pr&_nc_ht=scontent.fceb1-1.fna&oh=03_AdQ5eRxdZ3abseub3YspEJZPC8a9X_7fwQmhVEfHsUegxw&oe=642E9E36);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    padding:  0 8%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 160px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;

}
nav ul li{
    color: #fff;
    text-decoration: none;

}

.hero h1{
    font-size: 75px;
    margin-top: 12%;
}

.hero button{
    background: slategrey;
    border: 0;
    outline: none;
    padding: 15px 35px;
    color:#fff;
    margin-top: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.indicator span{
    display: inline-block;
    background: #3a3a3a;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
}
.indicator{
    margin-top: 150px;
}


.indicator span.active{
    background: #bfbfbf;
}

.indicator{
    position: absolute;
    width: 25%;
    min-width: 250px;
    right: 8%;
    bottom: 100px;
}


